@import '~@app/styles/variables.scss';

.about {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: $main-section-margin;

	&__title {
		margin: $main-section-margin auto 30px;
	}

	&__text {
		width: 45%;
		margin-top: -40px;

		// p {
		// 	line-height: 20px;
		// }

		&_margin {
			margin: 15px 0;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		align-items: center;
	}

	&__carousel-item {
		margin: 0;
		height: 400px;
		width: 400px;
		min-width: 300px;
		color: $primary-color;
		object-fit: cover;
	}

	&__carousel {
		width: 50%;
	}

	@media screen and (max-width: $width-tablet) {
		&__content {
			display: flex;
			flex-direction: column-reverse;
		}

		&__text {
			width: 100%;
			margin-bottom: 30px;
		}

		&__carousel {
			width: 100%;
		}
	}
}