@import '~@app/styles/variables.scss';

.categories {
	display: flex;
	flex-direction: column;

	&__title {
		margin: $main-section-margin auto 30px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
    gap: 35px;
	}
}