@import '~@app/scss/variables.scss';

.btn {
	color: $primary-text-color;
	border: none;
	padding: 0;
	cursor: pointer;

	&_link {
		background: transparent;
	}

	&_fill {
		background-color: $primary-color;
		padding: 15px 60px;
		border-radius: 50px;
	}
}