@import '~@app/scss/variables.scss';

.counter {
	input {
		background: $primary-light-color;
		border: none;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}