$primary-color: #5c815e;
$primary-dark-color: #4e6f50;
$primary-light-color: #aabb97;

$primary-text-color: #000;
$secondary-text-color: #fff;

// screen width
$width-mobile: 320px;
$width-tablet: 768px;
$width-tablet-md: 940px;
$width-laptop--sm: 1024px;
$width-laptop--md: 1440px;
$width-laptop--lg: 1920px;

$main-section-margin: 60px;