@import '~@app/styles/variables.scss';

.product-card {
	width: calc(100%/5 - 40px);
	margin: 10px 20px;
	text-align: center;
	position: relative;

	&__like {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	._active {
		path {
			stroke: $like-color;
			fill: $like-color;
			fill-opacity: 1;
		}
	}

	&__link {
		cursor: pointer;
		width: 100%;
		height: 100%;
	}

	&__image {
		width: 100%;
		height: fit-content;
		object-fit: contain;
		border-radius: 8px;
	}

	&__text-block {
		display: flex;
		justify-content: space-between;
		color: $primary-text-color;
		margin: 10px 0 15px;
	}

	@media screen and (max-width: $width-laptop--md) {
		width: calc(100%/4 - 40px);
	}

	@media screen and (max-width: $width-laptop--sm) {
		width: calc(100%/3 - 40px);
	}

	@media screen and (max-width: $width-tablet) {
		width: calc(100%/2 - 40px);
	}

	@media screen and (max-width: $width-mobile-lg) {
		width: calc(100%/1 - 40px);
	}
}